/* ==== signup, login, reset-password form styles ==== */

#form-cont {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f4f6;
}

button[type="submit"] {
  transition: background-color 0.3s ease-in-out;
}
button[type="submit"]:hover {
  cursor: pointer;
  background-color: #0b3ead; /* Darker shade for hover effect */
}
